In [1]:
from pandas import DataFrame
import sys
import os
sys.path.insert(0, os.path.abspath("../"))
import yagamee

In [2]:
row = [1.234, 1234, 0.00001234]
df = DataFrame(
    {col: row for col in ["original", "小数点2桁", "小数点5桁", "有効数字2桁", "有効数字5桁"]}
)
df

      original        小数点2桁        小数点5桁       有効数字2桁       有効数字5桁
0     1.234000     1.234000     1.234000     1.234000     1.234000
1  1234.000000  1234.000000  1234.000000  1234.000000  1234.000000
2     0.000012     0.000012     0.000012     0.000012     0.000012

In [3]:
sigfig_notation=" E2E5G2G5"

In [4]:
yagamee.dataframe_tools.copy_as_latex(df,sigfig_notation)

```
\begin{table}
\centering
\caption{-----}
\begin{tabular}{rllll}
\toprule
original & 小数点2桁 & 小数点5桁 & 有効数字2桁 & 有効数字5桁 \\
\midrule
1.234000 & 1.23 & 1.23400 & 1.2 & 1.234 \\
1234.000000 & $1.23\times10^{3}$ & $1.23400\times10^{3}$ & $1.2\times10^{3}$ & 1234 \\
0.000012 & $1.23\times10^{-5}$ & $1.23400\times10^{-5}$ & $1.2\times10^{-5}$ & $1.234\times10^{-5}$ \\
\bottomrule
\end{tabular}
\end{table}
```

In [6]:
yagamee.dataframe_tools.preview_in_excel(df,sigfig_notation)